@primary-color: #93c54b;
@secondary-color: #ffffff;
@header-hight: 100px;

header {
  display: none;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: linear-gradient(@primary-color, #73b319 35%, @primary-color);
    min-height: @header-hight;
    max-height: @header-hight;
    width: 100%;
    padding-top: 25px;
    border-bottom: solid @secondary-color 2px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    float: left;
  }

  .navbar {
    position: static !important;
  }

  .logo-header {
    flex: 1;
    min-height: @header-hight;
    max-height: @header-hight;
  }

  .logo-header-img {
    min-height: calc(@header-hight - 10px);
    max-height: calc(@header-hight - 10px);
    width: 192px;
    margin-top: 5px;
  }

  .spiral-container {
    position: relative;
  }

  .spiral {
    z-index: 2;
    position: relative;
    right: 0;
    top: 0;
  }

  .highlight {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    animation: fade 60s linear;
    animation-iteration-count: infinite;
  }

  @keyframes fade {
    0%, 5%, 100% {
      opacity: 0
    }
    2% {
      opacity: 1
    }
  }
}

.navbar {
  //display: none;
  border-radius: 0 !important;
}